@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  margin: 12px;
}

.lg-react-element{
  column-count: 3;
  column-gap: 10px;
}

img{
  max-width: 100%;
  display: block;
  padding: 6px 0;
  border-radius: 20px;
  transition: 0.2s;
  cursor: pointer;
}

img:hover{
  transform: scale(1.01);
  filter: opacity(.9);
}

@media only screen and (max-width: 768px) {
  .lg-react-element {
    column-count: 2;
  }
  img {
    padding: 4px 0;
  }
}

@media only screen and (max-width: 480px) {
  .lg-react-element {
    column-count: 1;
  }
  img {
    padding: 3px 0;
  }
}



